@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.NavBar {
  display: flex;
  padding: 20px;
}

.Logo {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.Logo-Img {
  width: 6rem;
  height: auto;
}

.Logo-Text {
  font-size: 2.2rem;
  font-family: 'Poppins', sans-serif;
  padding: 0 30px;
}

.Navigation-Links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Link-List {
  display: flex;
  padding: 10px;
  margin-right: 20px;
}

.Link-NoActive {
  color: #2ea8d1;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.Link-Active {
  color: #206fdf;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
